@tailwind base;
@tailwind components;
@tailwind utilities;

/* 移动端基础样式 */
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: PingFang SC, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
